<!DOCTYPE html>
<html>
<head>
<style>

.product-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.product-image {
    width: 100px;
    height: 100px;

}

.product-details {
    font-size: small;
}

.short-title {
    font-size: large;
}
</style>
</head>
<body>
<div class="product-container">
<img class="product-image" src="./assets/image 651.png" alt="{{shortTitle}}" />
<div class="product-details">
    <div class="short-title">{{shortTitle}}</div>
    <div>SKU : {{SKU}}</div>
    <div>{{name}}</div>
</div>
</div>
</body>
</html>